[Unit]
Description=Circulo API

[Service]
Type=notify
# will set the Current Working Directory (CWD). Worker service will have issues without this setting
WorkingDirectory=/home/cadmin/circulo/web/api
# systemd will run this executable to start the service
# if /snap/bin/dotnet doesn't work, use `which dotnet` to find correct dotnet executable path
ExecStart=/snap/bin/dotnet API.dll --urls "https://localhost:5000"
# to query logs using journalctl, set a logical name here
SyslogIdentifier=API

# Use your username to keep things simple.
# If you pick a different user, make sure dotnet and all permissions are set correctly to run the app
# To update permissions, use 'chown yourusername -R /srv/WorkerApp' to take ownership of the folder and files,
#       Use 'chmod +x /srv/WorkerApp/WorkerApp' to allow execution of the executable file
#User=cadmin

Restart=always
RestartSec=10

# This environment variable is necessary when dotnet isn't loaded for the specified user.
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target